@tailwind base;
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --header-height: 96px;
  --vh100-offset: calc(100vh - var(--header-height));
}

#__next {
  @apply min-h-screen;
}

.header-link {
  @apply font-bold px-4;
}

.header-link:hover {
  @apply text-gray-800 dark:text-gray-300;
}

.header-dropdown-link {
  @apply font-bold px-4 text-gray-800;
}

.footer-link {
  @apply px-4 py-2 mx-2;
}

.footer-link:hover {
  @apply underline;
}

.footer-link:focus {
  @apply outline-none;
}

.default-input {
  @apply py-2 px-3 w-full outline-none border border-black border-solid text-black;
}

.fill-screen {
  height: var(--vh100-offset);
}
